body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
.jexpand { border-collapse:collapse;}
.jexpand h4 { margin:0px; padding:0px;}
.jexpand img { float:right;}
.jexpand ul { margin:10px 0 10px 40px; padding:0px;}
.jexpand th { background:#7CB8E2 url(header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
.jexpand td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
.jexpand tr.odd td { background:#fff url(row_bkg.png) repeat-x scroll center left; cursor:pointer; }
.jexpand div.arrow { background:transparent url(arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
.jexpand div.up { background-position:0px 0px;}


