.upload-form {
	background-color: #FFFFFF;
	border: 1px solid #C8C9CA;
	margin: 0 0 10px;
	padding: 3px;
	text-align: left;
}

.search-icon {
	float: right;;
}

.portlet-title {
	display: none !important;
}

.portlet {
	background-color: transparent;
	border: none;
	margin: none;
}

#jexpand {
	border-collapse: collapse;
}

#jexpand h4 {
	margin: 0px;
	padding: 0px;
}

#jexpand img {
	float: right;
}

#jexpand ul {
	margin: 10px 0 10px 40px;
	padding: 0px;
}

#jexpand th {
	background: #7CB8E2 url(../images/header_bkg.png) repeat-x scroll center left;
	color: #fff;
	padding: 7px 15px;
	text-align: left;
}

#jexpand td {
	background: #C7DDEE none repeat-x scroll center left;
	color: #000;
	padding: 7px 15px;
}

#jexpand tr.odd td {
	background: #fff url(../images/row_bkg.png) repeat-x scroll center left;
	cursor: pointer;
}

#jexpand div.arrow {
	background: transparent url(../images/arrows.png) no-repeat scroll 0px -16px;
	width: 16px;
	height: 16px;
	display: block;
}

#jexpand div.up {
	background-position: 0px 0px;
}

.FixedHeightContainer {
	height: 200px;
	width: 99%;
	overflow: auto;
}

.viewPosting {
	
}

.viewCandidate {
	
}

.applicationFootNote {
	font-style: italic;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.header-back-to {
	float: right;
}

.candidate-job-title {
	font-weight: bold;
	font-size: 1.4em;
}

textarea.ta-styled {
	height: 250px;
	width: 99%;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(../images/bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

td.resumeUpload
{
	vertical-align: top;
	padding-right: 10px;
}

td.resumePaste
{
	width: 80%;
}

input[disabled], input.disabled {
	border: 1px solid #999;
	background-color: rgba(200,200,200,0.3);
	opacity: .5;
}

select option[value^="Y"]{
    background: rgba(50,200,50,0.3);
}

select option[value^="N"]{
    background: rgba(200,100,100,0.3);
}

